/* Mobile devices ( potrait and landscape )*/
@media(width <= 320px) {

}
@media( width <= 576px ) {
	   :root {
	  --background: #f8f4f9;
	  --color-text: #393e46;
  } 
    .hide-screen {
     overflow: hidden;
   }
     nav {
     	  grid-template-columns: repeat(2, 1fr);
    }
    .hero {
        height: 100dvh;
    }
      .nav-link {
      	position: absolute;
      	grid-template-columns: 1fr;
     	  height: 100dvh;
     	  background-color: var(--color-text);
     	  top: 0;
     	  left: 0;
     	  align-content: space-evenly;
        justify-content: end;
     	  width: 100%;
     	  opacity: 0;
     	  visibility: hidden;
     	  transition: opacity 0.6s, visibility 0.6s;
        z-index: 999px;
     }
     .nav-link a {
     	  justify-self: center;
     }
    .open-nav {
     opacity: 1;
     visibility: visible;
     z-index: 999px;
  }

  .burger {
      display: block;
      justify-self: end;
  }
 .hero figcaption {
    font-size: 6vw;
    text-align: center;
}
/* about */
.about {
   height: auto;
	 min-height: 100dvh;
}
    .about h2 {
    	 justify-self: center;
    	 font-size: 6vw;
        margin-top: 5rem;
    }
    .content-about {
        flex-direction: column-reverse;
    }
    .about-image {
        width: 100%;
    }
    .about p {
	    grid-area: content2;
	    width: 100%;
   }
/* projects */
      .projects {
          height: auto;
          overflow: hidden; 
           min-height: 100dvh;                    
      }
      .content-projects{
          grid-template-columns: 1fr;
          grid-template-rows: unset;
          place-items: center;
      }
      .projects h2 {
          font-size: 6vw;
          margin-top: 5rem;
      }
      article {
          width: 100%;
      } 
   /* contact */
   .contact {
      height: 100dvh;
   }
   form {
       width: 100%;
       grid-template-columns: 1fr;
      grid-template-areas: 'lname'
                            'iname'
                            'lemail'
                             'iemail'
                            'lmessage'
                            'message' ;
   }
   section.contact h2 {
          font-size: 6vw;
          margin-top: 1rem;
      }
  form button.btn {
    width: 50%;
    font-size: .7rem;
}    

nav .logo {
   text-transform: uppercase;
   font-family: 'Pacifico', arial, sans-serif;
   z-index: 1;
}
}  


/* Tablet devices ( potrait and landscape )*/
@media( 767px <= width <= 1023px) {
      .about-image {
        width: 30%;
    }
    .about p {
      width: 50%;
  }

 .contact h2,
  .about h2,
  .projects h2 {
      font-size: 3vw;
  }

  article {
   width: 90%;
   height: auto;
  }

  article p {
     width: 100%;
  }
 }
/* Laptop devices ( potrait and landscape ) */
@media( 1024px <= width <= 1439px) {

}
/* Dekstop  devices ( potrait and landscape   )*/
@media( width <= 1440px) {
  
}