/* Mobile */
@media( width <= 767px ) {
main {
    overflow-x: hidden;
}
/*  hero */
 .hero-section, section {
 	  min-height: 100dvh;
      overflow-x: hidden;
 }
 .hero-section img {
   width: 80%;
}
 /* hamburger	*/
    div.nav-2 {
	  	   align-items: center;
	  } 
	  .nav-2 div.menu {
	  	  flex-direction: column;
	  	  height: 100vh;
	  	  top: 0;
	  	  left: 200%;
	  	  position: fixed;
	  	  align-items: center;
	  	  justify-content: space-evenly;
        width: 100%;
        z-index: -1;
         transition: all .5s;
	  }
	  svg.hamburger {
        display: block;
    }
     .nav-2 .menu.active {
        left: 0;
        height: 100vh;
        background-color: #191d2b;
        width: 100%;
    }
 /*  hero  */
  .hero-section {
  	    background-size: cover;
      padding: 0 2rem;
      box-sizing: border-box;
  }
  div.hero-section p {
  	  width: 100%;
  }
  .wave-nav {
  	    top: 60px;
  }

 /* about */
 section.about {
     height: 100dvh;
     display: grid;
    place-content: center;
 }
.about p, .skills,  .container-btn {
   width: 100%;
   box-sizing: border-box;
   padding: 0 2rem;
}
.skills {
	  flex-direction: column;
     align-self: flex-start;
}
.container-btn .btn {
     width: 50%;
}
/* portfolio */
.portfolio > p {
	width: 100%;
   box-sizing: border-box;
   padding: 0 2rem;
}
.content-portfolio {
	  grid-template-columns: 1fr;
}
/* contact */
.contact p{
  width: 100%;
   box-sizing: border-box;
   padding: 0 2rem;
}
form {
     grid-template-columns: 1fr;
     grid-template-areas: 'name'
                          'email'
                          'message'
                          'message';
                          padding: 0 2rem;
    box-sizing: border-box;                      
    width: 100%;                      

}


/* footer */
footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        gap: 12px;
        text-align: center;
         padding: 1rem 2em;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
}

button.btn {
      width: 30%;
      display: block;
}
}

/* Mobile small */
 @media( width <= 350px ) {
     button.btn {
      width: 20%;
   }

     .container-btn .btn {
     width: 60%;
  } 

  button.contact-btn {
      width: 40%;
  }

 }



/* Tablet screen ( Potrait and Landscape ) */
@media (767px <= width <=1023px) { 
    .container-btn .btn {
     width: 40%;
  } 

 button.btn {
      width: 40%;
      margin: 0;
 }

}

/* Laptop screen ( Potrait and Landscape ) */
@media (1024px <=width <=1439px) {
        .container-btn .btn {
     width: 30%;
  } 

 button.btn {
      width: 40%;
      margin: 0;
 }
}

/* Dekstop screen ( Potrait and Landscape ) */
@media (width >=1440px) {
     body {
          font-size: 1.8rem;
     }
      button.btn {
      width: 40%;
      margin: 0;
    }
    .portfolio section {
      
    }
    .content-portfolio .card {
     padding: 1rem;
     height: 400px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 1rem;
    }
    .card .badges{
        display: unset;
    }
    .content-portfolio {
         height: 100vh;
         place-content: center;
         padding: 0 2rem;
         margin-top: -50px;
    }

     form {
       width: 70%;
     }
     
     .form-element input {
          height: calc(3rem + 0.75rem + 2px);
     }

    .form-element textarea  {
         height: calc(15rem + 0.75rem + 2px);
    }
}