:root{
	 --color-bc: #f8f7f4;
	 --color-font: #191d2b;
	 --color-bc-2: #EEEDEB; 
}

body {
	 font-family: 'Poppins', Arial, sans-serif;
	 background-color: var(--color-bc);
	 font-size: 1.2rem;
	 color: var(--color-font);
	 line-height: 1.3;
	 overflow-x: hidden;
    box-sizing: border-box;
}
/* header  */
nav {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 position: fixed;
	 left: 0;
	 top: 0;
	 right: 0;
	 background-color: var(--color-font);
	 z-index: 999;
}

.nav-2 {
	  text-transform: capitalize;
	  display: flex;
	  justify-content: space-between;
	   padding: 1rem 2rem;
	   position: relative;
	  	z-index: 1;
	  	flex: 1;
      box-sizing: border-box;
}
.nav-2 .menu {
     display: flex;
     justify-content: space-between;
     flex: 1;
}
nav a {
      color: var(--color-bc);
      opacity: .5;
      transition: opacity .5s;
}

nav a:hover {
    opacity: 1;
     color: var(--color-bc);
}

nav .logo {
      font-size: 1.5em;
      font-weight: 900;
      text-transform: uppercase;
      font-family: 'Pacifico', arial, sans-serif;
      flex: 2;
}
/* style active link  */
.nav-link.active {
      opacity: 1;
     transition: .2s;
      color: var(--color-bc);
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--color-bc);
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham-style .top {
    stroke: #f8f7f4;
    stroke-dasharray: 40 130;
}
.ham-style .middle {
    stroke: #f8f7f4;
    stroke-dasharray: 40 140;
}
.ham-style .bottom {
    stroke: #f8f7f4;
    stroke-dasharray: 40 205;
}
.ham-style.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}
.ham-style.active .middle {
    stroke-dashoffset: -102px;
}
.ham-style.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}

/* hero */
.hero-section {
      width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
/*     background-color: var(--color-font);*/
/*     background-repeat: no-repeat;*/
/*     background-size: cover;*/
/*     background-position: center;*/
      background-attachment: fixed;
     color: var(--color-bc);
     background-attachment: fixed;
     background-color: var(--color-font);
     text-align: center;
     position: relative;
     overflow: hidden;
   
/*     transform: rotate(15deg);*/
     background: linear-gradient(15deg, #191d2b);
} 
.hero-section img {
   width: 20%;
   border-radius: 50%;
}

i {
    position: absolute;
    height: 160px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: raining 5s linear Infinite;
}

@keyframes raining {
    0% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(calc(100vh + 160px));
    }
}


.hero-section h1, 
.hero-section p   {
    text-shadow: 0 20px 25px rgba(0, 0, 0, .5);
 } 
.hero-section h1 {
     font-size: clamp(1.7rem, 5vw, 6rem);
     font-weight: 900;
}
.hero-section p  {
     font-size: clamp(1rem, 5vw, 2rem);  
     width: 50%;
     text-align: center;
}

/* Section */
 section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
 section h2 {
    font-size: clamp(1.6rem, 5vw, 2.5rem);
     font-weight: 600;
     text-transform: capitalize;
     text-align: center;   
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); 
 }

/* about */
.about {
      background-image: linear-gradient(225deg, var(--color-bc-2) 20%, var(--color-bc) 20% 50%, var(--color-bc-2) 50% 80%, var(--color-bc) 80%);
}
.about p, .skills, .container-btn {
   width: 50%;
}
.skills h3 {
	 font-weight: 600;
	 font-size: 1.258rem;
    align-self: flex-start;
}
.skills {
   display: flex;
   gap: 10px;
}
.container-btn .btn {
     width: 25%;
}
/* portfolio */
.portfolio {
	   background-color: var(--color-font);
	 	color: var(--color-bc);
	 	height: 100%;
      padding-top: 3rem;
      width: 100%;
}
.content-portfolio {
	  padding: 1rem 2rem;
	  display: grid;
	  grid-template-columns: repeat(3,1fr);
	  place-items: center;
	  gap: 10px;
     line-height: 1.5;
}
.content-portfolio .card {
	  border: 1px solid var(--color-font);
	  padding: 2rem;
	  height: auto;
      color: var(--color-font);
/*      background-color: var(--color-bc);*/
      border-radius: 10px;
       background-image: linear-gradient(225deg, var(--color-bc-2) 20%, var(--color-bc) 20% 50%, var(--color-bc-2) 50% 80%, var(--color-bc) 80%);
}


.card h4 {
	 font-weight: 600;
}
.card p {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 300;
}
 .badges span{
     font-size: .9rem;
     background-color: rgba(23, 201, 100, .4);
     padding: 5px;
     border-radius: 10px;
}

/* button */
.btn{
  margin-top: 20px;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: var(--color-bc-2);
  font-size: 18px;
  cursor: pointer;
  background: var(--color-font);
}
.btn span {
  display: block;
  padding: 10px 10px;
}
.btn::before, .btn::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--color-bc-2);
}
.btn span::before, .btn span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--color-bc-2);
}
.btn:hover::before, .btn:hover::after{
  width: 100%;
}
.btn:hover span::before, .btn:hover span::after{
  height: 100%;
}
.btn::before, .btn::after{
  transition-delay: 0.2s;
}
.btn span::before, .btn span::after{
  transition-delay: 0s;
}
.btn::before{
  right: 0;
  top: 0;
}
.btn::after{
  left: 0;
  bottom: 0;
}
.btn span::before{
  left: 0;
  top: 0;
}
.btn span::after{
  right: 0;
  bottom: 0;
}
.btn:hover::before, .btn:hover::after{
  transition-delay: 0s;
}
.btn:hover span::before, .btn:hover span::after{
  transition-delay: 0.2s;
}

/* contact */
.contact {
	 	color: var(--color-font); 
      background-image: linear-gradient(225deg, var(--color-bc-2) 20%, var(--color-bc) 20% 50%, var(--color-bc-2) 50% 80%, var(--color-bc) 80%);
}
form {
     overflow: hidden;
     padding: 0 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 'name email' 
                           'message message'
                           'cap cap'
                           'btn btn';
      gap: 1rem;     
      width: 50%;               
}
.g-recaptcha {
     grid-area: cap;
}
form button {
     grid-area: btn;
}
form .form-element:nth-child(1) {
       grid-area: name;
}
form .form-element:nth-child(2) {
       grid-area: email;
}
form .form-element:nth-child(3) {
       grid-area: message;
}
.form-element label{
   display: block;
   margin-bottom: 10px;
}
.form-element input,
.form-element textarea {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
     box-sizing: border-box;
     border-radius: 0.25rem;
     font-size: 1.1rem;
     font-family: 'Poppins', arial, sans-serif;
     border: 1px solid var(--color-font);
}
.form-element textarea {
    resize: none;
    padding: 0.375rem 0.75rem;
    height: 100px;
}
.form-element input:focus,
.form-element textarea:focus {
    color:var(--color-font);
    background-color: var(--color-bc);
    border-color: var(--color-font);
    outline: 0;
    box-shadow: 0 0 0 0.1rem var(--color-font);
    color: green;
}

form button.btn {
 width: 30%;
}

/* footer */
footer {
    background-color: var(--color-font);
    color: var(--color-bc);
   display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    box-sizing: border-box;
}


.sosial-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.sosial-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}
.sosial-links img:hover {
    transform: scale(1.1);
}