/* Fonts */
@import url('../font/space-grotesk/space.css');
@import url('../font/heading.css');

/* Variable CSS */
:root {
/*	Colors  */
	 --first-hue: 260;
	 --second-hue: 216;
	 --first-color: hsl(var(--first-hue), 91%, 64%);
	 --first-color-dark: #a855f7;
	 --title-color: hsl(var(--second-hue), 8%, 85%);
	 --text-color: hsl(var(--second-hue), 8%, 80%);
	 --body-color: #1B1B32;
	 --container-color: #3B3B4F;
	 --white-color: #5361ff;
	 --text-color-btn: hsl(var(--second-hue), 8%, 100%);
   --drop-bg: drop-shadow(3px 3px 3px rgba(255, 255, 255, .2));
   --color-grey-5: #2a2e35;
   --text-color-btn: hsl(var(--second-hue), 28%, 95%);
   --home-title: hsl(var(--second-hue), 28%, 12%);
   --text-card: aqua;
	
   --first-gradient: linear-gradient(150deg, var(--first-color) 0%, var(--white-color) 100%);
    --second-gradient: linear-gradient(260deg, var(--first-color-dark) 0%, var(--white-color) 100%);
     --gradient-1: linear-gradient(135deg, #5361ff 50%, #a855f7 50%);
     --gradient-2: linear-gradient(to right, #a855f7, #5361ff);


 /*  font family  */
  --body-font: 'space_groteskregular', sans-serif;

/* font sizes  */
	--big-font-size: 8rem;
	--h1-font-size: 3.75rem;
	--h2-font-size: 3rem;
	--h3-font-size: 1.5rem;
	--larger-font-size: 1.25rem;
	--large-font-size: 1.125rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.875rem;
 
  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700; 
}

/* Responsive typography */
@media screen and (max-width: 1208px) {
	  :root {
	  	 --big-font-size: 6.25rem;
	--h1-font-size: 2.75rem;
	--h2-font-size: 2rem;
	--h3-font-size: 1.25rem;
	--larger-font-size: 1.125rem;
	--large-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: 0.813rem;
	  }
}
/*------------- Base  ------------------*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;	  
}

body,
button,
input,
textarea {
	 font-family: var(--body-font);
	 font-size: var(--normal-font-size);
}

body {
	 background-color: var(--body-color);
	 color: var(--text-color);
}

h1,
h2,
h3 {
	  color: var(--title-color);
	  font-weight: var(--font-bold);
	  line-height: 1.2;
}

p {
	  line-height: 1.75;
}

ul {
	 list-style: none;
}

a {
	text-decoration: none;
}

button,
input,
textarea {
	 border: none;
	 outline: none;
	 background-color: transparent;
}


img {
	 display: block;
	 max-width: 100%;	 
}

/* Header and Nav */
.header {
	 background-color: transparent;
	 position: fixed;
	 inset: 0 0 auto;
	 z-index: 1000;

}


.nav,
.nav-list,
.nav-btns {
	 display: flex;
}

.nav {
	 align-items: center;
	 justify-content: space-between;
	 column-gap: 3rem;
	 height: 4.5rem;
}

.nav-logo,
.nav-link,
.change-theme {
   color: var(--title-color);
}

.nav-logo {
	  font-size: var(--h2-font-size);
	  font-weight: var(--font-bold);
	  text-transform: uppercase;
	  font-family: luck;
}

.nav-menu {
	 margin-left: auto;

}

.nav-list {
	 column-gap: 2.75rem;
}

.nav-link {
    font-weight: var(--font-bold	);
    transition: color .3s;
    text-transform: capitalize;
}

.nav-link:hover {
	 color: var(--first-color);
}

.change-theme {
	 font-size: 1.25rem;
	 cursor: pointer;
}

.nav-btns {
	 align-items: center;
	 column-gap: 1rem;
}

.nav-close,
.nav-toggle {
	 display: none;
}

/* --------Variables dark theme ---------- */
.light-theme {
	 --title-color: hsl(var(--second-hue), 8%, 16%);
	 --text-color: hsl(var(--second-hue), 8%, 28%);
	 --body-color: hsl(var(--second-hue), 8%, 99%);
	 --container-color: hsl(var(--second-hue), 28%, 95%); 
/*     --text-color-btn:  hsl(var(--second-hue), 8%, 28%);*/
      --home-title:  hsl(var(--second-hue), 8%, 99%);
      --drop-bg: drop-shadow(3px 3px 3px rgba(0, 0, 0, .2));
	  --first-gradient: linear-gradient(
	  	                 150deg, 
	  	                 var(--first-color-dark) 0%, 
	  	                 var(--first-color) 100%);  
	   --text-card: var(--white-color);
}

/* Color change in some parts of the website, in light theme */
.light-theme .scroll-header {
	 background-color: var(--body-color);
	 box-shadow: 0 4px 4px hsla(var(--first-hue), 0%, 4%, .2);
}

.light-theme .nav-menu {
	 background-color: hsla(var(--first-hue), 0%, 96%, .4);
}

.light-theme .text-gradient {
	  -webkit-text-fill-color: hsla(var(--second-hue), 92%, 15%, 0.2);
}

/*---------- Reusable CSS Clases ----------*/
.section {
	 padding-block: 6rem 4rem;
}

.button {
	 display: inline-flex;
	 background: var(--second-gradient);
	 color: var(--text-color-btn);
	 padding: 1.25rem 2rem;
	 border-radius: .5rem;
	 font-weight:  var(--font-semi-bold);
	 transition: background .3s;
	 gap: .5rem;
	 align-items: center;
	 justify-content: center;
}

.button:hover {
	   background: linear-gradient(260deg, var(--first-color) 0%, var(--first-color-dark)) 100%;
}
.section-title {
	 text-align: center;
	 font-size: var(--h2-font-size);
	 margin-bottom: 3.25rem;
	 font-family: luck;
}
/*------------- Layout -----------*/

.container {
	 max-width: 1320px;
	 margin-inline: auto;
	 padding-inline: 1.30rem;
}

.grid {
	 display: grid;
}
/*--- active link ----------*/
.active-link {
/*	  color: var(--first-color);*/
	   background: var(--gradient-1);
	  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;	
}

/*----------- Change background header ---------*/
.scroll-header {
	 background-color: var(--body-color);
	 box-shadow: 0 4px 4px hsla(var(--first-hue), 0%, 4%, .2);
}
/*---------------- Home ----------------*/
.home-container {
	  grid-template-columns: 1fr max-content;
	  align-items: center;
	  column-gap: 3rem;
/*	  padding-top: 8rem;*/

}

.home-title {
	 font-family: luck;
	 font-size: var(--big-font-size);
	 line-height: 1;
	 margin-bottom: 1rem;
   color: var(--body-color);
   position: relative;
}

.home-title::after {
        position: absolute;
        inset: 0 0 0 0;
        content: attr(data-content);
        z-index: 1;
        -webkit-text-stroke: 2px var(--text-color);
        color: transparent;
}


.home-job {
	 font-size: var(--h2-font-size);
	 font-weight: var(--font-semi-bold);
}

.home-description {
	  font-size: var(--larger-font-size);
	  margin-block: 1.5rem 2rem;
}

.home-img-wrapper {
	  width: clamp(14rem, 5.3402rem + 39.5876vw, 38rem);
	  background: var(--second-gradient);
	  border-radius: 53% 47% 78% 22% / 59% 48% 52% 41%;
	  overflow: hidden;


	  will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}



.home-social {
	 row-gap: 1rem;
}

.home-social-link {
	 color: var(--title-color);
	 font-size: var(--larger-font-size);
	 transition: color .3s;
}

.home-social-link:hover {
	 color: var(--first-color);
}

/*----------------- About -----------------*/
.about-container {
	 grid-template-columns: 1fr 1fr;
	 column-gap: 4rem;
}

.about-experience {
	  width: 280px;
	  height: 420px;
	  background: var(--second-gradient);
	  border-radius: 1rem;
	   display: flex;
	   flex-direction: column;
	   justify-content: center;
	   align-items: center;
	   
}

.about-no,
.about-title {
  color: var(--text-color);
}

.about-no {
	 font-size: 7.5rem;
	 font-weight: var(--font-bold);
	 line-height: 1;
	 margin-bottom: 0.25rem;
}

.about-title {
	 font-size: var(--large-font-size);
	 align-items: center;
}

.about-description {
	  font-size: var(--larger-font-size);
	  margin-bottom: 2rem;
}

.text-gradient {
	  -webkit-text-fill-color: hsla(var(--second-hue), 8%, 85%, .2);
	  background: var(--first-gradient);
	  background-clip: text;
	  background-size: 0% 100% ;
	  background-repeat: no-repeat;
}

.about-data {
	 row-gap: 2rem;
}

.about-item-no {
	 font-size: var(--h2-font-size);
	 margin-bottom: .125rem;
}

/*----------- Services ---------------------*/
.services-container {
	 grid-template-columns: repeat(3, 1fr);
	 gap: 1.75rem;
}

.services-card {
	  background: var(--container-color);
	  padding: 2rem;
	  border-radius: 1rem;
	  transition: background .3s;
}

.services-card:hover {
	  background: var(--second-gradient);
}
.text-services {
	 font-style: italic;
}

.services-no {
	 color: var(--title-color);
	 font-size: var(--h1-font-size);
	 font-weight: var(--font-bold);
}

.services-title {
	 font-size: var(--h3-font-size);
	 margin-block: 1.25rem .75rem;
}

.services-description {
	  font-size: var(--large-font-size);
     line-height: 1.2;
}

.services-card:hover :is(.services-no, .services-title, .services-description){
   color: #fff;
}
/*------------ Skills ---------------*/
.skills-container {
	  grid-template-columns: repeat(2, max-content);
	  justify-content: center;
	  gap: 10rem;
}

.skills-img {
	 width: 40px;	 
}

.skills-title {
	 text-align: center;
	 font-size: var(--h3-font-size);
	 margin-bottom: 3rem;
}

.skills-item {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.skills-data { 
    text-align: center;
  }

  .skills-blob {
  	 width: 80px;
  	 height: 80px;
  	 background-color: var(--container-color);
  	 padding: 10px;
  	 border-radius: 50%;
  	 display: grid;
  	 place-items: center;
  	 margin-inline: auto;
  }

  .skills-blob i {
  	   font-size: 2rem;
  }

  .skills-name {
  	 font-size: var(--normal-font-size);
  	 margin-block: 1rem .25rem;
  }

  .skills-level {
  	  font-size: var(--small-font-size);
  }

/*------------- Resume ------------*/
.resume-icon {
    display: inline-flex;
    align-items: right;
    justify-content: center;
    width: 50px; 
    height: 50px;
}

.resume-icon svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.resume-container {
	 grid-template-columns: 0.7fr;
	 justify-content: center;
	 row-gap: 3rem;
}

.resume-item {
	 grid-template-columns: repeat(2, 1fr);
	 column-gap: 4rem;
}

.resume-right {
	 order: 2;
}

.resume-left {
	  text-align: right;
}

.resume-icon {
	 color: var(--title-color);
	 font-size: 2.75rem;
}

.resume-title {
	 font-size: var(--larger-font-size);
	 margin-block: 0.75rem;
}

.resume-container, 
.resume-item {
	 position: relative;
}

.resume-container::after,
.resume-item::after {
	 content: "";
	 position: absolute;
	 top: 0.75rem;
	 left: 50%;
	 transform: translateX(-50%);
	 background-color: var(--title-color);
}

.resume-container::after {
	  width: 2px;
	  height: 100%;
}

.resume-item::after {
	 width: 16px;
	 height: 4px;
}


.resume-duration {
	 font-size: var(--small-font-size);
}

/*------------ Portfolio --------------*/
.work-list {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 gap: .75rem 2.5rem;
	 margin-bottom: 3.5rem;
}

.work-item {
	 color: var(--title-color);
	 font-weight: var(--font-semi-bold);
	 cursor: pointer;
	 position: relative;
	 transition: color .3s;
	 padding-bottom: .5rem;
}

.work-item:hover,
.active-work {
	  color: var(--first-color);
}

.work-item::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 2px;
   background-color: var(--first-color);
   transition: width .3s;
}

.active-work::before {
	width: 60%;
}

.work-container {
	 grid-template-columns: repeat(3, 1fr);
	 gap: 1.75rem;
}

.work-card {
	 background-color: var(--container-color);
	 padding: 2rem;
	 border-radius: 1rem;
}

.work-img {
	 height: 240px;
	 width: 100%;
	 object-fit: cover;
	 border-radius: inherit;
	 margin-bottom: 1.2rem;
}

.work-category {
	 color: var(--text-card);
	 font-size: var(--small-font-size);
	 font-weight: var(--font-medium);
	 
}

.work-title {
	 font-size: var(--h3-font-size);
	 margin-block: .75rem 1.75rem; 

}

.work-description {
	 min-height: 125px;
}

.work-link {
	 display: inline-flex;
	 align-items: center;
	 column-gap: .75rem;
	 color: var(--title-color);
	 font-weight: var(--font-semi-bold);
}
.work-link  i {
       color: var(--text-card);
}
.work-icon {
	 color: var(--first-color);
	 font-size: 1.25rem;
	 transition: transform .3s;
}

.work-link:hover .work-icon {
	 transform: translateX(.25rem);
}

/*---- Contact -------*/
.contact {
	 padding-bottom: 8rem;
}

.contact-container {
	 grid-template-columns: 5.5fr 6.5fr;
	 column-gap: 2rem;
}

.contact-section-title {
	  text-align: left;
}

.contact-data {
	 row-gap: 2rem;
}

.contact-item {
	 display: grid;
	 grid-template-columns: max-content 1fr;
	 align-items: center;
	 column-gap: 1.5rem;
}

.contact-icon {
	 width: 68px;
	 aspect-ratio: 1/1;
	 background: var(--first-color);
	 border-radius: 50%;
	 display: grid;
	 place-items: center;
	 color: #fff;
	 font-size: 2rem;
}

.contact-title {
	 font-size: var(--larger-font-size);
	 margin-bottom: .25rem;
}

.contact-form {
	 row-gap: 3rem;
	 margin-top: 1rem;
	 position: relative;
}

.contact-form-div {
	 display: grid;
	 row-gap: .75rem;
}

.contact-label {
	 color: var(--title-color);
	 font-size: var(--large-font-size);
	 font-weight: var(--font-semi-bold);
}

.contact-input {
	 color: var(--text-color);
	 background: var(--container-color);
    border-radius: 12px;
	 padding-left: 20px;
	 padding: 10px;
	 height: 50px;
	 transition: .5s;
}

.contact-input:focus { 
	   outline: 1px solid; 
	   border: 1px solid var(--white-color);
	 }

.contact-area {
	 resize: none;
	 height: 200px;
}

.contact-button {
	 justify-self: start;
	 margin-top: 1rem;
}

.contact-message {
	  position: absolute;
	  bottom: 5.5rem;
	  left: 0;
	  color: var(--title-color);
	  font-size: var(--small-font-size);
	  font-weight: var(--font-medium);
}

/* Footer */
.footer {
	 background-color: var(--container-color);
	 padding-block: 1.5rem;
}

@keyframes animate-bg {
			 0%{
			 	  	background-position: left;
			 }

			 100%{
			 	  	background-position: right;

			 }
		}

.footer-container {
	 display: flex;
	 align-items: center;
	 justify-content: space-around;
}

.footer-social {
	 display: flex;
	 column-gap: 1rem;
}

.footer-link {
	  color: var(--title-color);
	  font-size: var(--large-font-size);
	  transition: color .3s;
}

.footer-link i {
	 font-size: 2rem;
	  border: 2px solid var(--text-color);
	  border-radius: 50%;
	  padding: 2px;
}

/*.footer-link:hover {
	 color: var(--first-color);
}*/

@keyframes full-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.footer-link:hover {
  -webkit-animation: full-circle 1.1s ease-out;
          animation: full-circle 1.1s ease-out;
}

.footer-copyright {
	 font-weight: var(--font-semi-bold);
}

.footer-copyright span {
	        
}
.sign-hand {
	   font-family: 'AlexBrush', arial;
	   font-size: 2rem;
	   font-weight: bolder;
	    background-image: var(--gradient-2);
			   -webkit-background-clip: text;
			  background-clip: text;
			  color: transparent;
			   background-size: 200%;
			  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .1));
			  transform: scale(1.2);
}





































/* ----------Break Point ------------- */
@media screen and (max-width: 1208px) {
	  .home-social-link {
	  	 font-size: var(--large-font-size);
	  }

	  .about-container {
	  	  column-gap: 3rem;
	  }

	  .about-experience {
	  	 width: 260px;
	  	 height: 400px;
	  }

	  .about-no {
	  	 font-size: 6.5rem;
	  }

	  .services.container,
	  .work-container {
	  	  gap: 1.5rem;
	  }

	  .skills-container {
	  	 column-gap: 6rem;
	  }

	  .skills-icon {
	  	  gap: 2.75rem 3rem;
	  }

	  .resume-container {
	  	 grid-template-columns: .8fr;
	  }
 .contact-icon {
 	 width: 58px;
 	 font-size: 1.75rem;
 }

}


@media screen and (max-width: 1024px) {
     .nav {
     	 height: 3.75rem;
     }

     .nav-toggle,
     .nav-close {
     	   display: inline-flex;
     	   color: var(--title-color);
     	   font-size: 1.25rem;
     	   cursor: pointer;
     }

     .nav-menu {
     	  position: fixed;
     	  top: 0;
     	  right: -100%;
     	  background-color: hsla(var(--first-hue), 0%, 4%, .4);
     	  width: 55%;
     	  height: 100%;
     	  padding: 5rem 0 0 3rem;
     	  backdrop-filter: blur(24px);
     	  transition: right .3s;
     }
      .show-menu {
        	 right: 0;
        }
     .nav-list {
     	 flex-direction: column;
     	 row-gap: 3rem;
     }

     .nav-close {
     	 position: absolute;
     	 top: 1rem;
     	 right: 1.5rem;
     }

     .section {
     	 padding-block: 5rem 2rem;
     }
/* Main */
 main {
 	 overflow: hidden;
 }


/* Home */
     .home-container {
     	 grid-template-columns: max-content 1fr;
     	 gap: 2rem 4rem;
     	 padding-top: 2rem;
     }

     .home-img-wrapper {
     	 order: 2;
     }

     .home-data {
     	 order: 3;
     	 grid-column: 1 / 3;
     }

     .home-title {
     	 font-size: 3.5rem;
     	 margin-bottom: 1rem;
     }

     .home-job {
     	 font-size: 1.75rem;
     }

     .home-description {
     	 font-size: var(--large-font-size);
     }

     .about-container,
      .resume-container {
            grid-template-columns: 1fr;
            row-gap: 2rem;
     }

     .services-container, 
     .work-container { 
             grid-template-columns: repeat(2, 1fr);
      }

      .skills-container {
      	 grid-template-columns: initial;
      	 row-gap: 3.5rem;
      }
      .skills-item {
      	 row-gap: 2.5rem;
      }
     
      .resume-item {
      	 column-gap: 3rem;
      }

      .contact {
      	  padding-bottom: 5rem;
      }

      .contact-container {
      	 grid-template-columns: 620px;
      	 justify-content: center;
      	 row-gap: 2rem;
      }

      .contact-section-title {
      	 text-align: center;
      }

      .contact-form {
      	 margin-top: 0;
      }
       
     .footer-container {
     	 flex-direction: column;
     	 row-gap: .75rem;
     }  
}
/* For medium devices */
@media screen and (max-width: 768px) {
     .nav-menu {
     	 width: 75%;
     }

     .home-container {
     	 column-gap: 3rem;
     }

     .section-title {
     	 margin-bottom: 3.5rem;
     }

     .services-container,
     .work-container {
     	 grid-template-columns: 405px;
     	 justify-content: center;
     }

     .skills-blob {
     	 width: 80px;
     	 height: 100px;
     }

     .resume-container::after, 
     .resume-item::after {
     	 all: unset;
     }

     .resume-item,
     .contact-container {
     	 grid-template-columns: 1fr;
     }

     .resume-item {
     	  row-gap: .25rem;
     }

     .resume-right {
     	 order: initial;
     }

     .resume-left {
     	   text-align: left;
     }
}


@media screen and (max-width: 576px) { 
     .home-container {
     	   column-gap: 1.75rem;
     }
    
     .home-img-wrapper {
	       width: 20rem;
     }


 }

/* For small devices */

@media screen and (max-width: 460px) { 
    .container {
    	  padding-inline: 1rem;
    }

    .services-container,
    .work-container {
    	 grid-template-columns: 1fr;
    }

    .services-card, 
    .work-card {
    	 padding: 1.75rem;
    }

    .skills-item {
    	  grid-template-columns: repeat(2, 1fr);
    }

      .skills-blob {
  	 width: 60px;
  	 height: 60px;
  	}
 } 
