@font-face {
    font-family: 'luck';
    src: url('LuckiestGuy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlexBrush';
    src: url('AlexBrush-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}